h1 {
  font-size: 50px;
  font-weight: 100;
}

.clock,
.setting {
  display: flex;
}

.clock {
  width: 450px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.setting {
  width: 100%;
  justify-content: space-between;
}

p {
  font-family: 'Share Tech Mono', sans;
  font-size: 16px;
  text-align: center;
  line-height: 1.4;
  margin-top: 20px;
}

p > a {
  text-decoration: none;
  color: #ffffff;
  padding-bottom: 1px;
  border-radius: 2px;
  border-bottom: 0.25em solid #FFD000;

  span {
    color: #FFD000;
    font-size: 1.5em;
    font-weight: 700;
  }
}

@media (max-width: 480px) {  
  h1 {
    font-size: 34px;
  }
  
  .clock {
    width: 100%;
  }

  .setting {
    width: 100%;
    gap: 30px;
  }
  
  p {
    font-size: 12px;
    line-height: 1.3;
    margin-top: 0;
  }
}