h1 {
  font-size: 50px;
  font-weight: 100;
}

.clock,
.setting {
  display: flex;
}

.clock {
  width: 450px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.setting {
  width: 100%;
  justify-content: space-between;
}

@media (max-width: 480px) {  
  h1 {
    font-size: 34px;
  }
  
  .clock {
    width: 100%;
  }

  .setting {
    width: 100%;
    gap: 30px;
  }
}